<div class="bg-primary-subtle text-center border-top border-info pt-3">
  <h4 class="my-2 text-black"> © Todos los derechos reservados | <%= new Date().getFullYear(); %> </h4>
  Desarrollado por <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="https://github.com/leoaz-992" target="_blank"><i class="bi bi-github"></i>leoaz-992</a>
  <h4 class="my-2">FORMOSA, ARGENTINA.</h4>
</div>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
