<div class="bg-primary-subtle text-center border-top border-info py-3">
  <h4 class="my-2 text-black"> © Todos los derechos reservados | <%= new Date().getFullYear(); %> </h4>
  <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://github.com/leoaz-992" target="_blank"><img class="mx-1" src="/css/github.svg" alt="github logoSVG">leoaz-992</a>
  <h4 class="my-2">FORMOSA</h4>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
