<div class="bg-primary-subtle text-white text-center border-top border-info py-3">
  <h4 class="my-5"> © Todos los derechos reservados | <%= new Date().getFullYear(); %> </h4>
  <h4 class="my-5">FORMOSA</h4>
</div>