<nav class="navbar sticky-top bg-body-tertiary border-bottom border-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%=tituloHeader%></a>
    <a class="btn btn-sm btn-outline-secondary mx-2" href="" >nueva publicacion</a>
  </div>
</nav>